*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.container{
    width: 100%;
    height: 100dvh;
    padding: 30px;
    >h1{
        color: green;
        font-size: 2rem;
        padding-top: 20px;
    }
    >h2{
        margin: 20px 0px;
    }
    >ul li{
        list-style-type: none;
        font-size: 1.3rem;
       
    }
    >ul span{
        font-size: 1.3rem;
        animation-name:example;
        animation-duration: 1s;
        animation-timing-function:ease-in-out;
        animation-delay: calc(0.5s * var(--i));
        animation-fill-mode:forwards;
    }
}
@keyframes example{
    from{
         font-size: 1.3rem;
    }
    to{
         font-size: 2.5rem;
         color: green;
         transform: translateY(15px);
    }
}